$gray-border: #4B4B4B;
$hcolor: #6D4B09;
$header-bg: #2492EA;
$dark-gray: #53555E;
$light-gray: #878787;
$link-color: #318ABD;
$strong-color: #C130B5;

body {
    color: $dark-gray;
    background-color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 22px;
}

#main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

// nav
#left-col {
    padding: 0 3rem 0 1rem;
    border-right: 2px solid $gray-border;
    flex: 1 1 15%;
    font-size: 18px;
}

// content area
#right-col {
    padding: 0 3rem 0 1rem;
    flex: 2 1 80%;
}

header {
    background-color: $header-bg;
    color: white;
    padding: 0 0 1rem 5px;
    margin: 0 0 1rem 0;

    h1 {
        display: inline-block;
        margin-right: 3rem;
    }

    code {
        padding: 0 1rem 2px 1rem;
        color: #C5C5C5;
    }
}

footer {
    text-align: center;
    padding: 2rem 5rem 6rem 5rem;
    margin: 3rem 0 0 0;
    border-top: 2px solid $gray-border;
    font-size: 14px;
}

.w3c-box {
    border: 1px solid $gray-border;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: $link-color;
    font-weight: 800;
    flex: 0 1 auto;
}

h1 {
    margin: 0 0 0 0;
}

h2 {
    color: $hcolor;
}

strong {
    color: $strong-color;
}

ul {
    list-style: none;
}

li {
    em {
        font-weight: 400;
    }

    h4 {
        margin: 0;
        color: #51BF54; // green
    }
}

code {
    background-color: black;
    color: #74D561;
    padding: 2px;
    font-family: monospace;
}

.hidden {
    display: none;
}

.list-container {
    margin: 2rem 0 2rem 0;
}

.list-title {
    cursor: default;
    font-weight: 800;
    color: $hcolor;
    text-align: left;
}

ul.long-list {
    li {
        color: #C1C1C1;
        padding: 1px 0 10px 0;

        em {
            font-size: 85%;
        }
    }
}

table {
    border-collapse: collapse;

    td {
        border-bottom: 1px solid $gray-border;
        padding: 7px 0 7px 0;
    }
}

#axes-table {
    td:first-of-type {
        min-width: 15%;
    }
}

th {
    text-align: left;
}

.function-table {
    td ul {
        list-style: disc outside;
        li {
            font-weight: 400;
        }
    }

    td:first-of-type {
        white-space: nowrap;
        padding: 0 1rem 0 0;
    }
}

.show-hide-rows {
    cursor: default;
    font-weight: 800;
    padding-left: 2rem;

    &:hover {
        text-decoration: underline;
    }
}

.location-path-table {
    margin: 0 7rem 5rem 0;

    td {
        padding: 5px 0 5px 0;
    }

    td:first-of-type {
        white-space: nowrap;
        padding: 0 1rem 0 0;
    }

    td:nth-child(2) {
        color: $light-gray;
        font-style: italic;
    }

    .section-header {
        color: $hcolor;
        font-weight: 800;
    }
}

.no-hlite {
    color: white;
}

.question {
    color: magenta;
}
