$gray-border: #4B4B4B;

body {
    background-color: #2E2E2E;
    color: white;
    margin: 0;
    padding: .2rem 2rem 7rem 2rem;
    font-size: 24px;
}

#main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

// nav
#left-col {
    padding-right: 3rem;
    border-right: 2px solid $gray-border;
    flex: 1 1 15%;
    font-size: 18px;
}

// content area
#right-col {
    padding-left: 1rem;
    flex: 2 1 80%;
}

a {
    text-decoration: none;
    color: #61D1FF;
    font-weight: 800;
    flex: 0 1 auto;
}

h1 {
    margin: 0 0 0 0;
}

header {
    padding: 0 0 12px 0;

    h1 {
        display: inline;
    }

    code {
        padding: 0 0 0 3rem;
        color: #7F7F7F;
    }
}

h2 {
    color: yellow;
}

strong {
    color: orange;
}

ul {
    list-style: none;
}

li {
    // font-weight: 800;

    em {
        font-weight: 400;
    }

    h4 {
        margin: 0;
        color: #51BF54; // green
    }
}

.hidden {
    display: none;
}

.list-container {
    margin: 2rem 0 2rem 0;
}

.list-title, .show-hide-rows {
    cursor: default;
    font-weight: 800;
    color: yellow;
    text-align: left;

    &:hover {
        text-decoration: underline;
    }
}

ul.long-list {
    li {
        color: #C1C1C1;
        padding: 1px 0 10px 0;

        em {
            font-size: 85%;
        }
    }
}

table {
    border-collapse: collapse;

    td {
        border-bottom: 1px solid $gray-border;
        padding: 7px 0 7px 0;
    }
}

#axes-table {
    td:first-of-type {
        min-width: 15%;
    }
}

.function-table {
    th {
        text-align: left;
    }

    td ul {
        list-style: disc outside;
        li {
            font-weight: 400;
        }
    }

    td:first-of-type {
        min-width: 30%;
    }
}

.no-hlite {
    color: white;
}

.question {
    color: magenta;
}
