$gray-border: #4B4B4B;
$hcolor: #6D4B09;
$header-bg: #2492EA;
$dark-gray: #53555E;
$light-gray: #878787;
$link-color: #318ABD;
$strong-color: #C130B5;

@font-face {
  font-family: "MediumMono";
  src: url("fonts/RobotoMono-Medium.ttf");
  font-style: "normal";
}

@font-face {
  font-family: "BoldMono";
  src: url("fonts/RobotoMono-Bold.ttf");
  font-style: "normal";
}

body {
  color: $dark-gray;
  background-color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 22px;
  font-family: "MediumMono", sans-serif;
}

#main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

// nav
#left-col {
  padding: 0 1rem 0 1rem;
  border-right: 2px solid $gray-border;
  flex: 1 1 20%;
  font-size: 18px;
}

// content area
#right-col {
  padding: 0 3rem 0 1rem;
  flex: 2 1 80%;
}

header {
  background-color: $header-bg;
  color: white;
  padding: 0 0 1rem 5px;
  margin: 0 0 1rem 0;

  h1 {
    display: inline-block;
    margin-right: 3rem;
  }

  code {
    padding: 0 1rem 2px 1rem;
    color: #C5C5C5;
  }
}

footer {
  text-align: center;
  padding: 2rem 5rem 6rem 5rem;
  margin: 3rem 0 0 0;
  border-top: 2px solid $gray-border;
  font-size: 14px;
}

.w3c-box {
  border: 1px solid $gray-border;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: 800;
}

h1, h2, h3, strong {
  font-family: "BoldMono", sans-serif;
}

h1 {
  margin: 0 0 0 0;
}

h2 {
  color: $hcolor;
}

strong {
  color: $strong-color;
}

ul {
  list-style: none;
}

li {
  em {
    font-weight: 400;
  }

  h4 {
    margin: 0;
    color: #51BF54; // green
  }
}

code {
  background-color: black;
  color: #74D561;
  padding: 2px;
  font-family: "MediumMono", monospace;
  font-size: 85%;
}

.hidden {
  display: none;
}

table {
  border-collapse: collapse;

  td {
    border-bottom: 3px solid $light-gray;
    padding: 7px 0 7px 0;
  }
}

th {
  text-align: left;
}

td:first-of-type {
  white-space: nowrap;
  padding-right: 1.5rem;
}

.show-hide-rows {
  cursor: default;
  font-family:"BoldMono", sans-serif;
  padding-left: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

.location-path-table, #axes-table, .function-table {
  margin: 0 7rem 5rem 0;

  td:nth-child(1) {
    color: #000;
    font-family: "BoldMono";
  }

  td:nth-child(2) {
    font-size: 85%;
  }

  .section-header {
    color: $hcolor;
    font-family:"BoldMono", sans-serif;
  }
}

.function-table {
  margin: 0 7rem 1rem 0;

  td ul {
    list-style: disc outside;
  }
}

#axes-table {
  td:nth-child(1) {
    padding-right: 4rem;
  }
}
