<html>
<head>
    <title>XPath docs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='docs.css') }}" type="text/css">
</head>
<body>
    <header>
        <h1>XPath</h1>
        <code>axis-name::node-test[expression||predicate]</code>
    </header>
<div id='main-container'>
    <div id="left-col">
        {% include 'nav.html' %}
    </div>
    <div id="right-col">
        <h2>{{ title }}</h2>
        {% block main %}{% endblock %}
    </div>
</div>
<footer>
    <div>
        <p>Fine Print</p>
        <p>
            I made this website for personal use, I modestly hope other people may find it useful.
            The information provided on this website is basically a summary of parts of the XML Path Language spec
            published by the W3C, available at the link below.
            I cannot guarantee that the information here is entirely accurate and it's definitely not an inclusive guide to
            every aspect of XPath.
            I've attempted to do a good job, but this is still very much a work in progress.
            There are too many intentional omissions and simplifications to mention.
        </p>

        <div id="w3c-source-link">
            <p>
            W3C Recommendation 16 November 1999, revised 7 September 2015
            </p>

            <p>
            Edited by: James Clark and Steve DeRose (Inso Corp. and Brown University)
            </p>

            <p>
            Link to source
            <a href="http://www.w3.org/TR/1999/REC-xpath-19991116"
               target="blank">http://www.w3.org/TR/1999/REC-xpath-19991116</a>
            </p>

            <p class="copyright">
            The W3C source document was released under the following terms
            <br>
            <a href="http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright"
               target="blank" >
               Copyright</a> &nbsp;©&nbsp; 1999 <a href="http://www.w3.org">W3C</a><sup>®</sup>
           (<a href="http://www.lcs.mit.edu" target="blank">MIT</a>,
           <a href="http://www.inria.fr/" target="blank">INRIA</a>,
           <a href="http://www.keio.ac.jp/" target="blank">Keio</a>), All Rights Reserved. W3C
           <a href="http://www.w3.org/Consortium/Legal/ipr-notice.html#Legal_Disclaimer" target="blank">
               liability
           </a>,
           <a href="http://www.w3.org/Consortium/Legal/ipr-notice.html#W3C_Trademarks" target="blank">
               trademark
           </a>,
           <a href="http://www.w3.org/Consortium/Legal/copyright-documents.html" target="blank">
               document use
           </a> and
           <a href="http://www.w3.org/Consortium/Legal/copyright-software.html" target="blank">
               software licensing
           </a> rules apply.
            </p>
        </div>

        <p>
            W3C source document status
        </p>

        <p id='w3c-status'>
            Note:
                <em>This paragraph is informative.</em> This document is currently not maintained.
                This document remains available on the W3C's Technical Report
                web page for reference and use by interested parties.  Readers are advised that no further maintenance
                (including correction of reported errors) is planned for this
                document.  Readers interested in the most recent version of the
                XPath specification are encouraged to refer to
                <a href="http://www.w3.org/TR/xpath-31/">http://www.w3.org/TR/xpath-31/</a>.
        </p>
        <p>This website was made by Gregory Vigo Torres &#169;2016</p>

    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='docs.js') }}"></script>
</html>

