{% extends 'base.html' %}
{% block main %}

<p>
    Functions convert arguments to the type required by the function.
    If the number of arguments is not correct or the it cannot be converted to the expected type,
    an error is raised.
</p>
<p>
e.g. <code>name("pet-list")</code> is a function call to the name function.
</p>

<h3>Function Reference</h3>
<table>
    <thead>
        <tr><th class="show-hide-rows">&sect; Node Set Functions</th></tr>
    </thead>
    <tbody>
        <tr class="hidden">
            <td>last(<em>&lt;number&gt;</em>)</td>
            <td>Returns number equal to context size from evaluation context</td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %}
