{% extends 'base.html' %}
{% block main %}
<p>
    Location paths are the most import part of XPath.
    A location path is an expression that selects a set of nodes relative to the context node.
    When a location path expression is evaluated, it returns the <strong>node set</strong> selected by the location path.
    Location paths can contain recursive expressions for filtering nodes.
</p>

<h4>syntax</h4>
<p>
    <code>axis-name::node-test[expression||predicate]/next-location-path</code>
</p>
<p>
    Or using abbreviated syntax
    <code>node-test[expression||predicate]</code>
</p>
<p>
    Axis name and node test separated by a double colon,
    followed by zero or more expressions each in square brackets.
</p>
<p>
    e.g. in <code>child::para[position()=1]</code>, or <code>para[position()=1]</code>,
    child is the name of the axis, para is the node test and <code>[position()=1]</code> is a predicate.
    With abbreviated syntax, child:: is implicit default and should be omitted.
</p>

<br>

<p>
Location paths can be relative or absolute.
They are one or more location steps separated by a /.
The locations are evaluated left to right.
Each location selects a node set relative to a context node.
Each node in the node set returned is used as a context node for the next step.
</p>

<p>
    Using abbreviated syntax, <code>child::</code> can be omitted, because it becomes the default <strong>axis</strong>.
</p>
<p>
    e.g.
</p>
<p>
    <code>div/para</code> is the same as <code>child::div/child::para</code>.
</p>

<h2>Abbreviated Syntax</h2>

<p>@ selects an attribute e.g. <code>@class</code></p>
<p>
    <code>//para</code> selects any para in the document. <code>div//para</code> selects all para descendants of div children.
</p>
<p>
    <code>.//para</code> selects all para descendants of the context node.
</p>
<p>
    <code>../title</code> selects title children of the parent of the context node.
</p>

<p><strong>note</strong></p>

<p>
    <code>//para[1]</code> selects all descendant para elements that are first children of their parents.
</p>

<p>
    <code>/descendant::para[1]</code> selects first descendant para element.
</p>

{% endblock %}

