{% extends 'base.html' %}
{% block main %}

<p id='context'>A <strong>context</strong> consists of</p>
    <ul>
        <li>a node (the <strong>context node</strong>)</li>
        <li>a pair of non-zero positive integers (the <strong>context position</strong> and the <strong>context size</strong>)</li>
        <li>a set of variable bindings</li>
        <li>a function library</li>
        <li>the set of namespace declarations in scope for the expression</li>
    </ul>
</p>

<p id='node-types'>Node Types:
    <ul>
        <li>element</li>
        <li>attribute</li>
        <li>text</li>
    </ul>
</p>

<p id='object-types'>Object Types</p>
    <ul>
        <li>node-set (unordered collection without duplicates)</li>
        <li>boolean</li>
        <li>number (floating point)</li>
        <li>string (UCS characters)</li>
    </ul>
</p>
<h3 class='question'>WTF is context-position and context-size?</h3>


{% endblock %}
